@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
  margin:0;
  font-family: 'Montserrat';
  overflow-wrap: break-word;
}

.navbar {
  background-color: rgb(8, 43, 96);
  color: whitesmoke;
  display: flex;
  position: absolute;
  top:0;
  width:100%;
  height: 70px;
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;
}

.links {
  position:absolute;
  right:30px;
}

.links a{
  color:azure;
  text-decoration: none;
  margin: 0 10px;
}

.links a:hover {
  color:aqua;
}

.content {
  margin-top:90px;
}



.create {
  width: 50vw;
  margin:auto;
  padding: 0 5vw;
}

h2 {
  text-align: center;
  font-size: 45px;
  padding-top:10px;
  margin-bottom:20px;
  color: rgb(8, 43, 96);
}

.question-container {
  width: 50vw;
}

.actual-question {
  padding: 0 10px;
}

.under-title {
  width: 30px;
  margin: auto;
  border-width: 2px;
  border-color: rgb(8, 43, 96);
  margin-bottom: 30px;
}

.question {
  margin: 20px 0 10px;
  font-size: 20px;
  color: rgb(8, 43, 96);
}



input {
  margin-right: 15px;
}

input[type='radio'], input[type='checkbox'] {
  margin-top: 5px;
  accent-color: rgb(14, 58, 125);
}

.radio-label {
  margin-left: 3px;
}


textarea {
  max-width: 98%;
  width:98%;
  min-width: 98%;
  border-radius: 15px;
  min-height: 100px;
  padding:10px;
  margin-top: 5px;
}

input[type='text'] {
  width:98%;
  border-radius: 15px;
  height: 20px;
  padding:10px;
  margin-top: 5px;
  border: 1px solid grey;
}


.othertext {
  margin-left: 28px;
  width:40% !important;
}

hr {
  margin-top: 20px;
  width:50vw;
}

.buttons {
  display:flex;
  flex-direction: row;
  margin: 30px 0 50px;
  justify-content: space-between;  
  width:100%;
}

.next-button, .prev-button {
  background-color: rgb(10, 49, 107);
  color:rgb(231, 237, 250);
  padding: 10px 20px;
  font-weight: 700;
  font-size: 25px;
  border: 0px;
  border-radius: 15px;
}

.next-button:hover, .prev-button:hover {
  color: white;
  background-color: rgb(89, 120, 187);
}

.submit-button {
  background-color: rgb(132, 23, 23);
  color:rgb(245, 227, 227);
  padding: 10px 20px;
  font-weight: 700;
  font-size: 25px;
  border: 0px;
  border-radius: 15px;
}

.submit-button:hover {
  color:white;
  background-color: rgb(183, 93, 93);
}

.print-button {
  background-color: rgb(132, 23, 23);
  color:rgb(245, 227, 227);
  padding: 10px 20px;
  font-weight: 700;
  font-size: 25px;
  border: 0px;
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.printbtndiv {
  width:100%;
  display: flex;
  justify-content: center;
}

.print-button:hover {
  color:white;
  background-color: rgb(183, 93, 93);
}

input, textarea {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.group {
  margin: 20px 10px;
}

.group h4 {
  font-size: 20px;
  margin-bottom:10px;
}

.indentedlist {
  margin-left:30px;
}


@media only screen and (max-width: 1100px)  {
  hr, .create, .question-container {
    width: 65vw;
  }
}

@media only screen and (max-width: 800px)  {
  hr, .create, .question-container {
    width: 72vw;
  }
}


@media only screen and (max-width: 600px)  {
  hr, .create, .question-container {
    width: 85vw;
  }
  .buttons{
    flex-direction: column;
  }
  .prev-button {
    margin-bottom: 10px;
  }
}


@media only screen and (max-width: 600px) {
  h2 {
    font-size: 35px;
  }

  .question, .group h4 {
    font-size: 15px;
  }

  label {
    font-size:15px;
  }

  .next-button, .prev-button, .submit-button, .print-button {
    font-size: 15px;
  }
  
}


@media only print {
  hr, .create, .question-container {
    width: 85vw;
  }
  .navbar{
    display: none;
  }
  .printbtndiv {
    display:none;
  }
  .content {
    margin-top:20px;
  }
}